body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
strong { 
  font-weight: 400; 
  color: #000000;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* --- HOME HEADER --- */

.home_header_container {
  height: 140px;
  width: 100%;
  background-color: #FFFFFF;
}
.home_header_content {
  width: 800px;
  margin: auto;
  height: 140px;
  border: solid 0px red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 30px;
  width: 30px;
  background-image: url('../images/logo.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.nav {
  height: 30px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_items {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}
.nav div.active {
  color: #000000;
}

/* --- HOME TOP CONTENT --- */

.home_top_content_container {
  background-color: #FFFFFF;
}
.home_top_content {
  width: 800px;
  margin: auto;
  padding: 50px 0px;
  height: 180px;
  border: solid 0px red;
}
.home_h1 {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  line-height: 80px;
}
.home_h2 {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 35px;
  width: 560px;
}
.home_card_container {
}
.home_card_all {
  width: 800px;
  margin: auto;
  border: solid 0px red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 90px 0;
}

/* --- CARDS --- */

.card {
  margin-bottom: 70px;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  background: #FFFFFF;
  width: 370px;
  height: 460px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
}
.card:hover {
  position: relative;
  top: -10px;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
  transition: top ease 0.3s;
}
.card_image {
  background: #CAE3E7;
  width: 370px;
  height: 340px;
  top: 0;
  transition: top ease 0.3s;
  border-radius: 2px 2px 0 0;
}
.card_details {
  padding: 30px 35px;
}
.card_title {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #333333;
}
.card_secondary_info {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 300;
  color: #999999;
  line-height: 18px;
  margin-bottom: 22px;
}

/* --- FOOTER --- */

.footer_container {
  background-color: #FFFFFF;
}
.footer {
  width: 800px;
  margin: auto;
  padding: 70px 0 200px 0;
}
.logo_footer {
  height: 30px;
  width: 30px;
  margin-bottom: 35px;
  background-image: url('../images/logo_footer.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.footer_info {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 300;
  color: #999999;
  line-height: 30px;
}
.icon_love {
  margin: 0 5px;
  vertical-align: middle;
}

/* --- CARD DETAILS --- */

/* --- CARD DETAILS HEADER  --- */

.details_header_container {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  padding: 40px 0;
}
.details_header {
  z-index: 999;
  width: 800px;
  margin: auto;
}
.details_icon_back {
  height: 20px;
  width: 20px;
  background-image: url('../images/icon_back.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.details_header_title {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  font-weight: 400;
  color: #000000;
  margin-top: 60px;
}
.details_content_container_hero {
  height: 350px;
}
.details_content_container {
  height: 600px;
}

/* --- DETAIL HEADER SMALL --- */

.details_header_small_container {
  position: fixed;
  width: 100%;
  padding: 18px 0;
  background-color: #FFFFFF;
  z-index: 999; 
  left: 0;
  right: 0;
  display: none;
}

.details_header_small_container.active {
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);  
  display: block;
}

.details_header_small {
  border: solid 0px black; 
  margin: 0 auto; 
  height: 18px;
  width: 800px;
}

.details_header_small_back {
  float: left;
  height: 18px;
  width: 18px;
  background-image: url('../images/icon_back.svg');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
.details_header_small_title {
  text-align: center;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}


